body {
  margin: 0;
  font-family: "Courier New", Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(95deg, #FF5EDF 0%, #04C8DE 100%) */
  background-color: #04C8DE;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
